body {
  margin:0px;
  background-color: rgb(243, 250, 245);
  /* 基本の文字色 */
  color:#444;
}

header {
  width:100%;
  height: 70px;
  background-color: white;
  border-bottom:1px solid rgb(9, 129, 9);
  display: flex;          
  align-items: center;
}

.header-actions {
  height: 70px;
  display: flex;  
   /* 子要素間のスペースを均等にする */
  justify-content: space-between; 
  align-items:stretch;
  width: 100%; 
}

.header-actions > * {
  flex: 1; 
  text-align: center; 
  border-right: 1px solid #ddd; 
  padding: 0 2px;  
  display: flex;           
  justify-content: center; 
  align-items: center;     
}

.header-actions > *:last-child {
  border-right: none;  
}

/* ロゴ~ */
.header-log{
  color:#fb914a;
  font-weight: 600;
}

.fa-utensils {
  font-size:1.6em;
}

.logo-text {
  font-size:0.8em;
}
/* ～ロゴ */

.header-link {
  text-decoration: none;
  display: flex;           
  flex-direction: column;  
  align-items: center;
}

.link-icon {
  color:rgb(9, 129, 9);
  font-size:1.4em;
}

.header-link-text {
  color:rgb(9, 129, 9);
  font-size:0.6em;
  font-weight: 600;
}

/* リンク全体に触れると色が変わる */
.header-link:hover,
.header-link:hover .link-icon,
.header-link:hover .header-link-text {
  color:rgb(118, 216, 118);
}

.profile-image img {
  /* 円形は50% */
  border-radius: 50%; 
}
/* ～ヘッダー */


/* メイン部分 */
main {
  width:90%;
  margin:0 auto;
  text-align: center;
}

.search-text {
  color:#66450f;
  font-size:1em;
  font-weight:600;
  margin-bottom:0.1em;
}

/* 検索フォーム～ */
.search-container {
  position: relative;
  display: inline-block;  /* サイズをコンテンツに合わせる */
}

#ingredient_name {
  width:80%;
  height: 3em;
  padding-right: 30px;  
  transition: padding-right 0.3s;  /* オプション：スムーズな変更のためのアニメーション */
  /* z-indexを効かせるためにはpositionを指定 */
  position: relative; 
  z-index: 1; 
  border: 2px solid #66450f;
  border-radius: 3px;
}

button {
  position: absolute;
  z-index: 2;
  right: 10%;  
  top: 50%;
  transform: translateY(-50%); 
  /* 背景を透明 */
  background: none;  
  /* 境界線を削除 */
  border: none;  
  color:#66450f;
}

.search-container:hover #ingredient_name {
  border: 2px solid #b3863e;
}

.search-container:hover button {
  color:#b3863e;
}
/* ～検索フォーム */

.announce-text {
  color:#fb914a;
  font-size:0.8em;
  font-weight:600;
  margin-bottom:0.1em;
}

.btn {
  display: inline-block;
  width: 200px; 
  height: 40px; 
  box-shadow: 0px 2px #524b42;
  border-radius: 5px;
  position: relative;
}

.btn:active {
  /*ボタンを押したとき*/
  top: 2px;
  box-shadow: none;
}

.new-registration {
  margin-top:0.5em;
}

.registration {
  text-decoration: none;
  margin-top:0.5em;
  color:white;
  font-size:14px;
  font-weight: 600;
  background-color: #fb914a;
  text-align: center;
  line-height:40px;
}

.registration:hover {
  background-color: #f3a876;
}

/* レシピリスト一覧 */
.recipe-container {
  width:90%;
  margin:0 auto;
  padding-top:0.3em;
  margin-top:1.2em;
  background-color: white;
  border: 2px solid rgb(9, 129, 9);
  border-radius: 4px;
}

.container-title{
  margin-top: 0px;
  margin-bottom:0.1em;
  color:rgb(9, 129, 9);
  font-weight: 600;
  font-size:1.2em;
}

.recipe-no-result {
  font-weight: 600;
  color:#66450f;
}

.recipe-link {
  text-decoration: none;
}

.recipes {
  border-top:1px solid rgb(210, 245, 220);
  padding:0.4em 0.1em;
}

.recipes:hover {
  background-color: #e6e5e5;
}

.image {
  border-radius: 0.3em;
}

.recipe-name {
  color:#444;
  font-size:1em;
  font-weight:500;
}

/* タブレット以上のサイズに適用 */
@media (min-width: 768px) {

  body {
    font-size: 18px;
  }

  header {
    height: 100px;
  }

  .header-actions {
    padding: 0 5%;
  }

  .fa-utensils,
  .link-icon {
    font-size: 2em;
  }

  .logo-text {
    font-size: 1.2em;
  }

  .header-link-text {
    font-size: 0.9em;
  }

  main {
    width: 80%;
  }

  .search-container {
    width: 350px;  
  }

  #ingredient_name {
    padding-right: 80px;  
    width: 70%;
    height: 4em;
  }

  button {
    right: 15%;  
  }

  .search-text,
  .announce-text {
    font-size: 1.4em;
    margin-bottom: 0.5em;
  }

  .btn {
    width: 250px;
    height: 50px;
  }

  .registration {
    font-size: 18px;
    line-height:50px;
  }

  .recipe-container {
    width: 85%;
  }

  .container-title {
    font-size: 1.6em;
  }

  .recipe-name {
    font-size: 1.4em;
  }
}

