/* メイン部分 */
main {
  width:90%;
  margin:0 auto;
  text-align: center;
}

/* フラッシュメッセージ */
.flash {
  margin-top: 1em;
  font-size:0.8em;
  font-weight: 600;
  color:rgb(9, 129, 9);
}

.recipe-title {
  margin-bottom:0.4em;
  color:#fb914a;
}

.image {
  border-radius: 0.3em;
  border: 0.1em solid #fb914a;
  margin-bottom: 0.8em;
}

/* ～食材リスト */
.ingredients-title {
  width:50%;
  margin: 0 auto;
  height: 1.5em;
  line-height: 1.5em;
  border-radius: 5px;
  font-size: 1em;
  font-weight: 600;
  background-color:rgb(9, 129, 9);
  color:white;
}

.ingredients {
  background-color:white;
  width:50%;
  margin: 0 auto;
  font-weight: 600;
  font-size: 0.9em;
  padding: 0.4em 0em;
  border-right:1px solid rgb(161, 229, 180);
  border-left:1px solid rgb(161, 229, 180);
}

.recipe-process {
  padding:5px;
  border: 0.2em solid  #fb914a;
  border-radius: 0.4em;
  height: 7em;
  width:80%;
  margin:1em auto;
  background-color: white;
}

.recipe-process-text {
  text-align: left;
}

.btn {
  display: inline-block;
  width: 200px; 
  height: 40px; 
  box-shadow: 0px 2px #524b42;
  border-radius: 5px;
  position: relative;
}

.btn:active {
  /*ボタンを押したとき*/
  top: 2px;
  box-shadow: none;
}

.new-registration {
  margin-top:0.5em;
}

.recipe-edit {
  text-decoration: none;
  color:white;
  font-size:14px;
  font-weight: 600;
  background-color: #fb914a;
  text-align: center;
  line-height:40px;
}

.recipe-edit:hover {
  background-color: #f3a876;
}

.recipe-delete {
  text-decoration: none;
  margin-top:1em;
  color:white;
  font-size:14px;
  font-weight: 600;
  background-color: #8f2f2a;
  text-align: center;
  line-height:40px;
}

.recipe-delete:hover {
  background-color: #b46b67;
}

@media (min-width: 768px) {
  body {
      font-size: 18px; /* 文字のサイズを大きくする */
  }

  main {
      width: 70%; /* メインコンテンツの幅を少し狭く */
  }

  .recipe-title {
  font-size: 1.6em; /* レシピタイトルのサイズを大きく */
  }

  .image {
      max-width: 400px; /* 画像の最大幅を大きく */
      max-height: 280px;
  }

  .ingredients-title {
    width:30%;
  }

  .ingredients {
    width:30%;
  }

  .recipe-process {
      padding: 20px; /* 内側の余白を追加 */
  }

  .recipe-edit {
    line-height:50px;
  }

  .recipe-delete {
    line-height:50px;
    margin-bottom:2em;
  }


  .btn {
      width: 250px; /* ボタンの幅を大きく */
      height: 50px; /* ボタンの高さも大きく */
  }
}


