<!-- CSSファイルの読み込み -->
<link rel="stylesheet" href="/home/top.css">

<!-- ヘッダー部分 -->
<header>
  <div class="header-actions">
    <div class="header-log">
      <a><i class="fa-solid fa-utensils"></i></i><div class="logo-text">こんみる</div></a>
    </div>
    <div class="concept-message">
      <a>毎日の献立、もう悩まない</a>
    </div>
  </div>
</header>

<!-- コンテンツ部分 -->
<main>

  <div class="konmiru-image">
    <%= image_tag "konmiru_image.png", class: "app-image" %>
  </div>

  <div class="usage-guide">
  <h3>主な使い方</h3>
    <ol>
      <li>まずはレシピを登録</li>
      <li>料理に使いたい食材を検索</li>
      <li>登録したレシピの中から検索に<br>かけた食材を使ったレシピを表示</li>
    </ol>
  </div>

  <div class="entrance">
    <%= link_to "さっそく始める", login_path, class: "entrance-icon btn" %>
  </div>
  
</main>