<h1>検索結果</h1>

<div><%= link_to "トップページ", root_path %></div>

<% if @recipes.any? %>
  <% @recipes.each do |recipe| %>
    <div>
      <h3><%= link_to recipe.recipe_name, user_recipe_path(recipe.user, recipe) %></h3>
      <!-- 投稿したレシピ画像が存在すればそれを表示し、存在しなければデフォルトの画像を表示 -->
      <% if recipe.recipe_image.attached? %>
        <%= image_tag url_for(recipe.recipe_image), size: '300x200' %>
      <% else %>
        <%= image_tag "no_image.png", size: '300x200' %>
      <% end %>
    </div>
  <% end %>
<% else %>
  <p>該当するレシピが見つかりませんでした。</p>
<% end %>