
.user-registration {
  color:white;
  background-color: rgb(228, 128, 14);
  border-radius: 10%;
  border-radius: 15px;
  width: 50%;
  height: 60px;
  line-height: 60px;
  margin: 0 auto;
}

.user-alert {
  color:white;
  background-color: rgb(228, 57, 14);
  border-radius: 10%;
  border-radius: 15px;
  width: 50%;
  height: 40px;
  line-height: 40px;
  margin: 0 auto;
  margin-top:3px;
  margin-bottom:3px;
}

.message {
  text-align: center;
}

/* レシピ画像を隠す */
#recipe_image {
  display: none;
}

/* 食材追加欄 */
.add-ingredient-button {
  margin-top: 20px;
  margin-bottom: 20px;
}

.delete-ingredient-button {
  margin-left: 10px;
}

/* レシピ登録ボタン */
.recipe-registration {
  margin-top:10px;
}