body {
  margin:0px;
  background-color: rgb(243, 250, 245);
  /* 基本の文字色 */
  color:#444;
}


/* メイン部分 */
main {
  width:90%;
  margin:0 auto;
  text-align: center;
}

.search-text {
  color:#66450f;
  font-size:0.9em;
  font-weight:600;
  margin-bottom:0.8em;
}

.announce-text {
  color:#fb914a;
  font-size:1em;
  font-weight:600;
  margin-bottom:0.1em;
  margin-top:0em;
}

.profile-name-field {
  border: 0.2em solid #fb914a;
  border-radius: 0.4em;
  width:70%;
  height: 3em;
  margin-top:0.2em;
  font-size: 0.9em;
}

.profile-name-field:hover {
  border: 0.2em solid#eebe9d;
}

.image {
  border-radius: 50%;
  border: 0.2em solid #fb914a;
}

.image:hover {
  border: 0.1em solid #eebe9d;
}

.edit-btn {
  margin-top:0.5em;
}

.edit {
  background-color: #fb914a;
  color:white;
  font-weight: 600;
  border: 1px solid #fb914a;
  font-size:1em;
}

.edit:hover {
  background-color:#f3a876;
  color:white;
}

.edit-link {
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2em;
  color:rgb(9, 129, 9);
}

.edit-link p {
  margin-bottom:0.5em;
}

.edit-link:hover {
  color:rgb(118, 216, 118);
}

.btn {
  display: inline-block;
  width: 60%; 
  height: 3em; 
  box-shadow: 0px 2px #524b42;
  border-radius: 5px;
  position: relative;
}

.btn:active {
  /*ボタンを押したとき*/
  top: 2px;
  box-shadow: none;
}

.fa-rotate-right {
  margin-right:0.2em;
}

/* タブレット画面幅以上のCSS */
@media (min-width: 768px) {

  main {
    width: 80%;
  }

  .search-text {
    font-size: 1.2em;
    margin-bottom: 1em;
  }

  .announce-text {
    font-size: 1.4em;
    margin-bottom: 0.2em;
  }

  .profile-name-field {
    width: 60%;
    font-size: 1.2em;
  }

  .image {
    border-width: 0.3em;
  }

  .edit-btn {
    margin-top: 1em;
  }

  .edit {
    font-size: 1.2em;
  }

  .edit-link {
    font-size: 1.4em;
  }

  .edit-link p {
    margin-bottom: 1em;
  }
}
